# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET-C#-Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -r win-x64 -c Release
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-build-raw
        path: "**/bin/Debug/net10.0/" # Or bin/Release/ depending on your build step

    - name: Upload Published Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows-x64-publish
        path: "**/bin/Release/net10.0/win-x64/publish/"
